body{
    display: grid;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
h1{
    color: red;
    
}
.game{
    display: flex;
    justify-content: center;
    gap: 10px;
}
h2,h1{

    text-align: center;
}
button{
    margin-top: 15px;
   
}
img{
    height:200px;
    width:200px;
}

